out/**
Export/**
windows-amd64/**
data/art002e009281~large.jpg
data/art002e009283~large.jpg
data/WhatsApp Image 2026-04-19 at 20.00.36.jpeg
data/godzilla.png
data/USS_Enterprise_NCC-1701_ENT-1024x487.jpg
Settings/godzilla.json
Settings/uss enterprise.json
